@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
}

.capa-enxoval {
    background-image: url(./images/CAPA\ ENXOVAL2.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.variados-title,
.cozinha-title {
    font-family: "Amatic SC";
    font-size: 40px;
    padding: 60px;
    z-index: 1;
    text-align: center;
}

.cozinha-div {
    display: flex;
    position: relative;
}

.cozinha {
    display: grid;
    justify-items: center;
    padding-top: 80px;
}

.variados-list,
.cozinha-list {
    display: flex;
    align-items: center;
    margin:0 50px 12px 50px;
}
.variados-item,
.cozinha-item {
    margin-left: 10px;
    font-family: "Comfortaa";
    font-size: 20px;
}

.houver:hover {
    transition: all .2s ease-in-out;
    opacity: 50%;
}

.background-enxoval {
    width: 1000px;
    object-fit: cover;
}

.background-cozinha {
    position: absolute;
    width: 100%;
}

.variados {
    margin-top: 120px;
    display: flex;
    position: relative;
    justify-content: center;
}

.variados-background {
    position: absolute;
    width: 100%;
}

.variados-direita,
.variados-esquerda {
    z-index: 1;
}

[type="checkbox"]:checked + a {
    text-decoration:line-through;
    color: #aeaeae;
}

@media (max-width: 768px) {
    .cozinha,
    .variados {
        padding: 0px;
       
    }
    .variados {
        margin: 0;
    }
    .background-enxoval {
        width: 100%;
    }
    .background-cozinha,
    .variados-background {
        height: 110%;
    }
    .cozinha-title,
    .variados-title {
        padding:20px 0;
    }
    .cozinha-list,
    .variados-list {
        margin:4px 4px 4px 0;
    }
    .cozinha-item,
    .variados-item {
        font-size: 12px;
    }
    .cozinha-div {
        margin:0 20px;
    }
    .variados-esquerda {
        margin-left: 20px;
    }
    .variados-direita {
        margin-right: 20px;
    }
}
